In [2]:
import pandas as pd
import os
import sys

sys.path.append("../..")
from common.utils import timestep_csv_names
from common.constants import DATAFOLDER

root_dir = os.path.join(DATAFOLDER.data_root_path, "one_day_data")

In [2]:
# import json
# f = open("./valid_dataset.json")
# valid_set = json.load(f)
# valid_dates = []
# for case_name in valid_set.keys():
#     for sample_name in valid_set[case_name].keys():
#         date = valid_set[case_name][sample_name]["0"]["date"]
#         valid_dates.append(date)

# print(valid_dates)

FileNotFoundError: [Errno 2] No such file or directory: './valid_dataset.json'

In [1]:
import sys
sys.path.append("..")
from utils.search_rainfalls import search_rainfalls

df = search_rainfalls()
df.head()

   index        date start_time peak_time end_time  duration  max_rainfall
0    115  2020-08-01       3-40       5-0     7-10        21          88.0
1    176  2020-10-12       6-10      8-10     9-40        21          82.0
2    106  2020-07-27      10-50     12-20    13-40        17          80.0
3     95  2020-07-12      21-10      22-0    23-20        13          76.5
4    144  2020-09-14       4-50       6-0      7-0        13          76.0

In [4]:
df.to_csv("train_dataset.csv")

In [2]:
df.loc[df["max_rainfall"] > 40].describe()

            index   duration  max_rainfall
count   44.000000  44.000000     44.000000
mean   100.136364  19.363636     54.090909
std     50.288281   7.915516     12.806826
min      3.000000  10.000000     40.500000
25%     64.500000  14.000000     43.000000
50%    106.500000  17.000000     51.250000
75%    138.500000  22.000000     60.000000
max    178.000000  50.000000     88.000000